@font-face { font-family: Tolkien; src: url('/webfonts/Tolkien_Regular.ttf'); } 

*{
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: whitesmoke;
}

.container{
    width: 400px;
    height: 720px;
    max-width: 400px;
    max-height: 720px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(12, 60px);
    border: 1px solid black;
    background-color: #e7e7e7;
}

.logo{
    grid-row: 1 / span 4;
    align-self: center;
    width: 100%;
    display: flex;
    justify-content: center;
}

#logo_vector{
    width: 35%;
}

.loginform{
    grid-row: 5 / span 7;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.loginform *{
    margin-left: auto;
    margin-right: auto;
}

.loginform ::placeholder{
    opacity: 1;
    color: white;
}

.loginform input{
    width: 80%;
    text-align: center;
    margin-top: 10px;
    height: 50px;
    padding-left: 10px;
    background-color: #8478F5;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    border: none;
}

.submitBtn{
    width: 40%;
    height: 50px;
    background-color: #3A0CA3;
    border: none;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    color: white;
    text-align: center;
}
