*{
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: whitesmoke;
}

.container{
    width: 400px;
    height: 720px;
    max-width: 400px;
    max-height: 720px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(12, 60px);
    border: 1px solid black;
    background-color: #e7e7e7;
}

.logo{
    margin-top: 10px;
    margin-left: 10px;
}

#logo_vector{
    width: 15%;
}

.preciousForm{
    grid-row: 3 / span 9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: 'Lato', sans-serif;
}

.preciousForm ::placeholder{
    opacity: 1;
    color: white;
}

.preciousForm input{
    width: 80%;
    height: 50px;
    border: none;
    background-color: #8478F5;
    color: white;
    text-align: center;
    font-size: 25px;
}

.customDrop{
    width: 80%;
    position: relative;
}

.customDrop select{
    width: 100%;
    height: 50px;
    border: none;
    background-color: #8478F5;
    color: white;
    text-align: center;
    font-size: 25px;
    
}

.customDropArrow{
    position: absolute;
    width: 3em;
    height: 100%;
    display: block;
    background: url("../assets/chevron-down-solid.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40%;
    top: 0;
    right: 0;
    pointer-events: none;
}


#reason *{
    background-color: #b0a7ff;
    color: #3A0CA3;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.preciousForm textarea{
    box-sizing: border-box;
    color: white;
    background-color: #8478F5;
    border: none;
    resize: none;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    width: 80%;
    height: 145px;
    padding-top: 60px;
    padding-bottom: 0;
}


.preciousForm select{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.discordMessage{
    width: fit-content;
    align-self: flex-start;
    margin-left: 25%;
    margin-top: -5%;
    font-family: 'Lato', sans-serif;
    font-size: 20px
}

.discordMessage input[type="checkbox"]{
    display: none;
}

.discordMessage label::before{
    content: "";
    background: url("../assets/check-circle-solid.svg");
    background-position: center;
    background-size: contain;
    width: 32px;
    height: 32px;
    position: absolute;
    left: 50px;
    top: 530px;
    filter: grayscale(1);
    transition: all 0.6s;
}

.discordMessage input[type="checkbox"]:checked + label::before{
    filter: grayscale(0);
    transform: rotate(360deg);
}

.discordMessage #share{
    width: auto;
    height: auto;
}

.preciousForm button{
    width: 50%;
    height: 50px;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    background-color: #FF7446;
    color: #241838;
    border: none;
    margin-bottom: 20px;
}

.nav{
    grid-row: 12 / span 1;
    height: 95%;
    align-self: end;
    display: flex;
    place-items: center;
    justify-content: space-around;
    background-color: #3A0CA3;
}

.nav i{
    color: #FF7446;
} 