*{
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: whitesmoke;
}

.container{
    width: 400px;
    height: 720px;
    max-width: 400px;
    max-height: 720px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(12, 60px);
    border: 1px solid black;
    background-color: #e7e7e7;
}

.logo{
    grid-row: 1 / span 4;
    align-self: center;
    width: 100%;
    display: flex;
    justify-content: center;
}

#logo_vector{
    width: 35%;
}

.register{
    grid-row: 5 / span 8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Lato', sans-serif;
}

.register ::placeholder{
    opacity: 1;
    color: white;
}

.register input, select{
    width: 80%;
    height: 50px;
    border: none;
    background-color: #8478F5;
    color: white;
    text-align: center;
    font-size: 25px;
}

.t_c{
    width: fit-content;
    align-self: flex-start;
    margin-left: 22%;
    margin-top: -5%;
    font-family: 'Lato', sans-serif;
    font-size: 20px
}

.t_c input[type="checkbox"]{
    display: none;
}

.t_c label::before{
    content: "";
    background: url("../assets/check-circle-solid.svg");
    background-position: center;
    background-size: contain;
    width: 32px;
    height: 32px;
    position: absolute;
    left: 50px;
    top: 565px;
    filter: grayscale(1);
    transition: all 0.6s;
}

.t_c input[type="checkbox"]:checked + label::before{
    filter: grayscale(0);
    transform: rotate(360deg);
}

.t_c #share{
    width: auto;
    height: auto;
}

.register button{
    width: 50%;
    height: 50px;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    background-color: #FF7446;
    color: #241838;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
}