*{
    box-sizing: border-box;
}

.container{
    width: 400px;
    height: 720px;
    max-width: 400px;
    max-height: 720px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(12, 60px);
    border: 1px solid black;
    background-color: #e7e7e7;
}

.logo{
    grid-row: 1 / span 4;
    align-self: center;
    width: 100%;
    display: flex;
    justify-content: center;
}

#logo_vector{
    width: 35%;
}

.login, .signup{
    display: flex;
    text-decoration: none;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    height: 50px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
}

.login{
    grid-row: 7 / span 1;
    background-color: #3A0CA3;
    color: #e7e7e7;
}

.signup{
    grid-row: 9 / span 1;
    background-color: #FF7446;
    color: #241838;
}